<%- include('./partials/header.ejs') %>

<!--Body-->
<%- include('./partials/carousel-home.ejs')  %>
<main id="index">
  <div class="container py-5">
    <%- include('./productos/partials/productos-visitados.ejs')  %>
    <%- include('./productos/partials/productos-oferta.ejs')  %>
  </div>
</main>
<!--Body-->

<%- include('./partials/footer.ejs') %>